<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Book Library</title>
</head>

<body>
    <section class="bookSection">
        <div class="container">
            <h2 class="bookTitle"><%= book.title %></h2>
            <h5 class="bookAuthor text-muted">- <%= book.author %> -</h5>
            <div class="left">
                <img src="data:<%= book.img.contentType %>;base64,<%= book.img.data %>" width="250px">
            </div>
            <div class="rightSide">
                <p>Number of pages: <%= book.pages %> pages</p>
                <p>ISBN: <%= book.isbn %></p>
                <p class="bookDescription"><%= book.description %></p>
                <div class="buttons">
                    <a href="/list" class="btn btn-secondary">All Books</a>
                    <a href="/books/edit/<%= book.id %>" class="btn btn-info edit">Change Info About Book</a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>